<?xml version="1.0" encoding="UTF-8"?>

<!--
Base logback configuration provided for compatibility with Spring Boot 1.1
-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.standard.allspark.ithings.persistent.mapper" level="DEBUG"/>
    <logger name="com.standard.allspark.file.persistent.mapper" level="DEBUG"/>

</configuration>